.explore-button {
  background-color: $explore-button-bg-color;
  border-radius: 3em;
  color: $primary-color;
  font-size: .8em;
  font-weight: 600;
  padding: 1.6em 2.7em 1.65em 2.7em;
  margin-top: 4.4em;
  text-transform: uppercase;
  letter-spacing: .19em;
  transition: background-color .3s;
  margin-bottom: -.1em;

  &:hover {
    cursor: pointer;
    background-color: $explore-button-bg-color-hover;
  }

  p {
    margin-left: .1em;
  }
}

