.people-images-table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-left: -.1em;

  .overlay {
    position: relative;
    z-index: 10;
  }

  .overlay:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .5s;
    background-color: $overlay-bg-color;
  }

  .overlay:hover:after {
    opacity: .8;
    cursor: pointer;
  }

  .person-image {
    width: 24.3em;
    height: 28.3em;
    display: block;
  }

  .people-overlay-img {
    position: absolute;
    top: 1.14em;
    right: 1.125em;
    opacity: 0;
    z-index: 1;
    transition: opacity .3s;
    width: 3.3em;
    height: 3.3em;
  }

  .people-images-text {
    position: absolute;
    bottom: 0;
    color: $primary-color;
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    z-index: 1;
    opacity: 0;
    transition: opacity .3s;
  }

  .model-name {
    font-family: $secondary-font;
    font-size: 1.8em;
    margin-bottom: 0.15em;
    letter-spacing: .01em;
  }

  .profession {
    font-family: $primary-font;
    margin-bottom: 4.3em;
    text-transform: uppercase;
    font-size: calc(5.7px + .3vw);
    letter-spacing: 0.267em;
    font-weight: bold;
  }
}