.small-news {
  display: grid;
  grid-template-columns: 1fr 2fr;
  font-family: $secondary-font;

  .first-small-news-img,
  .second-small-news-img,
  .third-small-news-img {
    margin-right: 2.1em;
    width: 11.5em;
    height: 8rem;
  }

  .third-small-news-img {
    margin-left: .3em;
    margin-right: 2.4em;
  }

  .second-small-news-img {
    margin-right: 2.4em;
  }

  .small-news-text {
    font-size: 1.4rem;
    line-height: 1.5em;
    width: 12em;
    margin-top: -0.4em;
    text-align: left;
  }

  .first-small-news-text {
    letter-spacing: .005em;
  }

  .else-small-news-text {
    letter-spacing: .02em;
  }

  .small-news-text:hover {
    color: $small-news-text-color-hover;
    cursor: pointer;
  }

  .small-news-date-text {
    font-family: $primary-font-no-bold;
    font-size: .95rem;
    margin-top: 1.4em;
    letter-spacing: -.01em;
  }
}