@import 'utils/module';
@import 'base/module';
@import 'components/module';

.header {
  display: flex;
  justify-content: center;

  .header-container {
    display: flex;
    width: 95%;
    flex-direction: column;
  }

  .menu {
    width: 100%;
    display: flex;
    padding: 3.9em 0 3.9em 0;
    align-self: center;
  }

  .menu-options {
    display: flex;
    flex: 1;
    align-items: center;

    & .menu-icon {
      width: 1.1em;
      height: .9em;
      margin-left: .3em;
    }

    .menu-icon:hover {
      cursor: pointer;
    }

    ul li {
      display: inline;
      text-transform: uppercase;
      color: $secondary-color;
      letter-spacing: 0.189em;
      font-size: calc(8.3px + .3vw);
      font-weight: 600;
      padding-left: 3.5em;
    }

    li:hover {
      cursor: pointer;
    }

    li:first-child {
      padding-left: 3.5em;
    }
  }

  .menu-title {
    display: flex;
    flex: 1;
    text-transform: uppercase;
    margin-left: 16.4em;

    .page-logo {
      width: 13em;
      height: 1.8em;
    }
  }

  .menu-loupe {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    margin-top: .33em;

    .loupe {
      width: calc(13px + .3vw);
      height: calc(13px + .3vw);
      margin-right: .3em;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .rectangles {
    .rectangle-one {
      position: absolute;
      background-color: $rectangle-one-bg-color;
      z-index: -100;
      width: 44em;
      height: 41.6em;
      top: 0;
      right: 0;
    }

    .rectangle-two {
      position: absolute;
      background-color: $rectangle-two-bg-color;
      top: 15.6em;
      left: 18em;
      width: 64.8em;
      height: 46.8em;
      z-index: -50;
      overflow: hidden;
    }

    .header-img {
      position: relative;
      left: 23.97em;
      width: 41em;
      height: 47em;
    }

    .rectangle-three {
      position: absolute;
      z-index: 1;
      display: flex;
      top: 56em;
      left: 3em;
    }

    .rect-text-part {
      background-color: $rectangle-three-text-part-bg-color;
      color: $primary-color;
      padding: 2em;
      text-transform: uppercase;
      display: flex;
      width: 15em;
      height: 6.4em;

      &:hover {
        cursor: pointer;
        background-color: $rectangle-three-text-part-bg-color-hover;
      }
    }

    .rect-img-part {
      background-color: $rectangle-three-image-part-bg-color;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 6.4em;
      height: 6.4em;

      &:hover {
        cursor: pointer;
        background-color: $rectangle-three-image-part-bg-color-hover;
      }
    }

    .rect-text {
      font-weight: 600;
      font-size: .75em;
      letter-spacing: .28em;
      margin-top: 1.1em;
      margin-left: 2.4em;
    }

    .play-black-img {
      width: 1.6em;
      height: 1.8em;
    }
  }

  .aside-links {
    display: flex;
    flex-direction: column;
    width: 1em;
    margin-left: .5em;
    margin-top: 6.6em;

    img {
      margin-bottom: 2.3em;
      width: calc(10px + .3vw);
      height: calc(9.3px + .3vw);

      &:hover {
        cursor: pointer;
      }
    }

    .yt {
      width: calc(10.5px + .3vw);
      height: calc(6.5px + .3vw);
      margin-top: .1em;
    }
  }

  .header-text {
    display: flex;
    width: 45em;
    margin-top: 1.7em;

    .text {
      display: flex;
      flex-direction: column;
      flex: 1;
    }

    .line-rotated-num-div {
      display: flex;
      width: 10.5em;
    }

    .white-line {
      position: absolute;
      width: 3.25em;
      top: 40.95em;
      left: 37.3em;
    }

    .black-line {
      position: relative;
      top: 7.4em;
      left: .6em;
      width: 0.17em;
      height: 3.49em;
    }

    .rotated-number {
      position: relative;
      top: 7.2em;
      left: 7.4em;
      transform: rotate(-90deg);
      font-weight: bold;
      letter-spacing: .1em;
      font-size: 1.01em;
    }

    .model-name {
      font-family: $secondary-font;
      font-size: 5.83em;
      line-height: 1em;
      letter-spacing: 0.015em;
      margin-top: 0.02em;
    }

    .second-name {
      letter-spacing: .024em;
      margin-left: .03em;
    }

    .model-title {
      text-transform: uppercase;
      font-size: 1em;
      color: $secondary-color;
      margin-top: 3.75em;
      letter-spacing: .182em;
      margin-left: .04em;
    }
  }

  .pagination-div {
    position: absolute;
    top: 46.85em;
    left: 88.4em;
    display: flex;

    p {
      font-size: calc(6.3px + .3vw);
      font-weight: bold;
      letter-spacing: .3em;
      padding-bottom: 2.82em;
      padding-right: 8em;
    }

    .pagination-line {
      position: relative;
      right: 0;
      top: 2.3em;
    }
  }
}

.talents {
  display: flex;
  justify-content: center;
  padding-top: 22.05em;

  .talents-container {
    display: flex;
    width: 95%;
    flex-direction: column;
    align-items: center;

    header {
      padding-bottom: 4.75em;
    }
  }

  .people-categories {
    font-size: calc(6.2px + .3vw);
    font-weight: 600;
    margin-left: -.4em;
    display: flex;
    justify-content: space-around;

    li {
      display: inline;
      text-transform: uppercase;
      letter-spacing: .18em;
      padding: 0 2.8em 0 2.8em;
      text-align: center;
      height: 2.4em;
      transition: border-bottom .1s;
      margin: 0 -.4em;

      &:hover {
        cursor: pointer;
        border-bottom: 2px solid $c-black;
      }
    }
  }
}

.news {
  margin-top: 5.45em;
  display: flex;
  justify-content: center;

  .news-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    header {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    h2 {
      font-weight: 400;
      font-size: 3.5em;
      font-family: $secondary-font;
      letter-spacing: -.008em;
      margin-left: -.06em;
    }

    .black-underline {
      width: 8.7em;
      border: 1px solid $c-black;
      margin-top: 1.6em;
    }
  }

  .small-news-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
    padding: 4.1em 0 2em 0;
    margin-left: 2.6em;
  }

  .big-news-div {
    display: flex;
    justify-content: flex-start;
    margin-top: .5em;
    width: 90%;
    margin-left: 2.1em;

    .big-news-bigger-part {
      display: flex;
      flex-direction: column;
      margin-right: 2.9em;
    }

    .main-news {
      display: flex;
      width: 63.7em;
      height: 30em;
      }

    .main-news-text-div {
      width: 24.2em;
      background: $main-news-text-bg-color;
      color: $primary-color;
      font-family: $secondary-font;
    }

    .main-news:hover {
      background-image: $main-news-text-bg-color-hover;
      cursor: pointer;
    }

    p.main-news-text {
      font-size: 1.7em;
      padding: 0 1.8em 0 2em;
      letter-spacing: .01em;
      line-height: 1.6em;
      margin-top: -.1em;
    }

    .main-news-play-img {
      margin: 11.6em 0 2em 3.6em;
      width: 1.8em;
      height: 2.4em;
    }

    .main-news-date-text {
      font-family: $primary-font-no-bold;
      font-size: .95rem;
      margin-top: 1.3em;
      padding-left: 3.6em;
      letter-spacing: -.01em;
    }

    .main-news-img {
      width: 39.5em;
      height: 30em;
    }

    .subnews {
      margin-top: 3em;
      display: flex;
      justify-content: flex-start;
    }

    .img-subnews {
      width: 30.4em;
      height: 24.3em;
      margin-right: 2.9em;
    }

    .video-subnews {
      width: 30.4em;
      height: 24.3em;
    }

    .img-subnews-article-img {
      width: 30.4em;
      height: 16.5em;
    }

    .video-subnews-img {
      width: 30.4em;
      height: 24.3em;
    }

    .img-subnews-text {
      font-family: $secondary-font;
      color: $img-subnews-text-color;
      font-weight: 600;
      font-size: 1.4em;
      padding-top: 1em;
      letter-spacing: 0.01em;
    }

    .img-subnews-date-text {
      font-family: $primary-font-no-bold;
      color: $main-news-date-text-color;
      padding-top: 1.1em;
      letter-spacing: -0.02em;
      font-size: .96em;
    }

    .video-subnews-text-div {
      position: relative;
      display: flex;
      top: -8.4em;
      right: -2.3em;
    }

    .video-subnews-play-img {
      width: 5.2em;
      height: 5.2em;
    }

    .video-subnews-play-img:hover {
      cursor: pointer;
    }

    .video-subnews-text {
      font-family: $primary-font;
      color: $primary-color;
      padding-top: 2.7em;
      padding-left: 2.1em;
      font-size: .8em;
      text-transform: uppercase;
      letter-spacing: .23em;
    }

    .big-news-smaller-part {
      width: 30.5em;
      height: 57.4em;
    }

    .big-news-smaller-part-text {
      font-family: $secondary-font;
      color: $big-news-smaller-part-text-color;
      font-weight: 600;
      font-size: 1.3em;
      padding-top: 1em;
      letter-spacing: .052em;
      line-height: 1.67em;
    }

    .big-news-smaller-part-date-text {
      font-family: $primary-font-no-bold;
      color: $big-news-smaller-part-date-text-color;
      padding-top: 1em;
      letter-spacing: -0.027em;
      font-size: .96em;
    }

    .big-news-smaller-part-img {
      width: 30.5em;
      height: 49.5em;
    }
  }
}

.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 9.7em;
  padding-bottom: 2em;

  .footer-container {
    display: flex;
    width: 95%;
    flex-direction: column;
  }

  .logo-newsletter-row {
    display: flex;
    justify-content: flex-start;
    width: 100%;

    .footer-logo {
      display: flex;
      justify-content: flex-start;
      flex: 3.95;
    }

    .footer-logo-img {
      width: 11.4em;
      height: 1.6em;
      margin-left: .3em;
    }

    .footer-newsletter {
      display: flex;
      flex: 1;
      border-left: 1px solid $c-ziggurat;
      height: 2em;

      &:hover {
        cursor: pointer;
      }
    }

    .newsletter-text {
      text-transform: uppercase;
      font-size: .8em;
      padding-top: .5em;
      letter-spacing: .2em;
      margin: 0 2.7em 0 3.7em;
      font-weight: 600;
    }

    .footer-newsletter-img {
      width: 1.1em;
      height: .97em;
      margin-top: .37em;
    }
  }

  .copyright-links-row {
    display: flex;
    padding-top: 4.55em;

    .footer-copyright {
      display: flex;
      flex: 6.93;
    }

    .footer-links {
      display: flex;
      flex: 1;
      margin-top: .28em;
    }

    .copyright-text {
      color: $copyright-text-color;
      font-family: $primary-font-no-bold;
      letter-spacing: -0.017em;
      font-size: .9em;
      margin-left: .22em;
    }

    img {
      width: calc(10px + .3vw);
      height: calc(9.3px + .3vw);
      margin-left: 2.27em;

      &:hover {
        cursor: pointer;
      }
    }

    .yt {
      width: calc(10px + .3vw);
      height: calc(7.3px + .3vw);
      margin-left: 2.3em;
      margin-top: .1em
    }

    .tw {
      margin-top: -.01em;
    }
  }
}