$primary-font: "Nunito-Extra Bold", sans-serif;
$secondary-font: "Poppins", sans-serif;
$primary-font-no-bold: "Nunito", sans-serif;

$c-white: #ffffff;
$c-shark: #1a1a1d;
$c-black: #000000;
$c-jet-stream: #b4cece;
$c-silver-sand: #c2c8c8;
$c-granny-smith: #8aa3a3;
$c-alto: #e0e0e0;
$c-black-opacity-7: rgba(0, 0, 0, 0.7);
$c-neptune: #87bbbc;
$c-linear-jungle-mist: linear-gradient(4deg, #b4d3d3 0%, #d9e7e7 100%);
$c-linear-opal: linear-gradient(4deg, #aac8c8 0%, #ccdada 100%);
$c-jumbo: #77777e;
$c-ziggurat: #b4dede;

$primary-color: $c-white;
$secondary-color: $c-shark;
$rectangle-one-bg-color: $c-jet-stream;
$rectangle-two-bg-color: $c-silver-sand;
$rectangle-three-text-part-bg-color: $c-jet-stream;
$rectangle-three-text-part-bg-color-hover: $c-granny-smith;
$rectangle-three-image-part-bg-color: $c-white;
$rectangle-three-image-part-bg-color-hover: $c-alto;
$overlay-bg-color: $c-black-opacity-7;
$explore-button-bg-color: $c-jet-stream;
$explore-button-bg-color-hover: $c-granny-smith;
$small-news-text-color-hover: $c-neptune;
$main-news-text-bg-color: $c-linear-jungle-mist;
$main-news-text-bg-color-hover: $c-linear-opal;
$img-subnews-text-color: $c-shark;
$main-news-date-text-color: $c-jumbo;
$big-news-smaller-part-text-color: $c-shark;
$big-news-smaller-part-date-text-color: $c-jumbo;
$copyright-text-color: $c-jumbo;