:root {
  font-size: .9vw;
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  background-color: $primary-color;
  font-family: $primary-font;
}

p {
  margin: 0;
}